<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sjl.lbox">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 电话监听 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".LBoxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 7.0文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".app.ui.UIActivity" />
        <activity android:name=".app.MainActivity" />
        <activity android:name=".app.component.webview.WebViewActivity" />
        <activity android:name=".app.network.monitor.NetworkMonitorActivity" />
        <activity android:name=".app.mobile.image.ImageActivity" />
        <activity android:name=".app.ui.CustomView.contact.ContactActivity" />
        <activity android:name=".app.mobile.QRCode.QRCodeActivity" />
        <activity android:name=".app.mobile.QRCode.BGAQRCode.BGAQRCodeActivity" />
        <activity
            android:name=".app.mobile.QRCode.BGAQRCode.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.mobile.signature.SignatureActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".app.mobile.QRCode.MyQRCode.activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".app.mobile.QRCode.MyQRCode.MyQRCodeScanActivity" />
        <activity
            android:name=".app.ui.CustomView.progress.ProgressActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".app.network.http.HttpActivity" />
        <activity android:name=".app.network.http.NoHttp.NoHttpActivity" />
        <activity android:name=".app.component.Notification.NotificationActivity" />
        <activity android:name=".app.component.Notification.NotificationClickActivity" />
        <activity android:name=".app.component.Notification.NotificationClickPictureActivity" />
        <activity android:name=".app.mobile.zip.ZipActivity" />
        <activity android:name=".app.mobile.compass.CompassActivity" />
        <activity android:name=".app.mobile.pedometer.PedometerActivity" />

        <service
            android:name=".app.mobile.pedometer.service.StepService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".app.ui.CustomView.gesture.GestureActivity" />
        <activity android:name=".app.ui.animate.AnimateActivity" />
        <activity android:name=".app.ui.animate.FrameAnimateActivity" />
        <activity android:name=".app.ui.animate.TweenAnimateActivity" />
        <activity android:name=".app.ui.animate.PropertyAnimateActivity" />
        <activity android:name=".app.component.viewpager.ViewPagerActivity" />
        <activity android:name=".app.component.viewpager.AdvertiseActivity" />
        <activity android:name=".app.mobile.music.MusicActivity" />
        <activity android:name=".app.component.FloatWindow.FloatWindowActivity" />

        <service
            android:name=".app.component.FloatWindow.service.FloatWindowService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".app.ui.CustomView.EditText.EditTextActivity" />
        <activity android:name=".app.ui.CustomView.EditText.PwdEditText.PwdEditTextActivity" />
        <activity android:name=".app.mode.ModeActivity" />
        <activity android:name=".app.mode.mvp.MVPActivity" />
        <activity android:name=".app.mode.mvp.login.MVPLoginActivity" />
        <activity android:name=".app.mode.mvp.main.MVPMainActivity" />
        <activity android:name=".app.component.intentService.IntentServiceActivity" />

        <service
            android:name=".app.component.intentService.service.CustomeIntentService"
            android:exported="false" />

        <activity android:name=".app.component.slideMenu.SlideMenuActivity" />
        <activity android:name=".app.component.slideMenu.NavigationViewActivity" />
        <activity android:name=".app.component.slideMenu.ListMenuActivity" />
        <activity android:name=".app.ui.CustomView.repeat.listview.ListViewActivity" />
        <activity android:name=".app.ui.CustomView.repeat.listview.RefreshListViewActivity" />
        <activity android:name=".app.ui.CustomView.repeat.RepeatActivity" />
        <activity android:name=".app.ui.CustomView.repeat.recyclerview.RecyclerViewActivity" />
        <activity android:name=".app.ui.CustomView.repeat.SwipeItemLayout.SwipeItemLayoutActivity" />
        <activity android:name=".app.ui.CustomView.repeat.SwipeItemLayout.SwipeRecyclerViewActivity" />
        <activity android:name=".app.ui.CustomView.repeat.SwipeItemLayout.SwipeListViewActivity" />
        <activity android:name=".app.ui.animate.TransitionAnim.TransitionAnimActivity" />
        <activity android:name=".app.ui.animate.TransitionAnim.AnotherActivity" />
        <activity android:name=".app.DesignPattern.DesignPatternActivity" />
        <activity android:name=".app.DesignPattern.Singleton.SingletonActivity" />
        <activity android:name=".app.DesignPattern.Builder.BuilderActivity" />
        <activity android:name=".app.DesignPattern.Prototype.PrototypeActivity" />
        <activity android:name=".app.DesignPattern.FactoryMethod.FactoryMethodActivity" />
        <activity android:name=".app.DesignPattern.AbstractFactory.AbstractFactoryActivity" />
        <activity android:name=".app.DesignPattern.Strategy.StrategyActivity" />
        <activity android:name=".app.DesignPattern.State.StateActivity" />
        <activity android:name=".app.DesignPattern.ChainOfResponsibility.ChainOfResponsibilityActivity" />
        <activity android:name=".app.DesignPattern.Interpreter.InterpreterActivity" />
        <activity android:name=".app.DesignPattern.Command.CommandActivity" />
        <activity android:name=".app.DesignPattern.Observer.ObserverActivity" />
        <activity android:name=".app.DesignPattern.Memento.MementoActivity" />
        <activity android:name=".app.DesignPattern.Iterator.IteratorActivity" />
        <activity android:name=".app.DesignPattern.TemplateMethod.TemplateMethodActivity" />
        <activity android:name=".app.DesignPattern.Visitor.VisitorActivity" />
        <activity android:name=".app.DesignPattern.Mediator.MediatorActivity" />
        <activity android:name=".app.DesignPattern.Proxy.ProxyActivity" />
        <activity android:name=".app.DesignPattern.Composite.CompositeActivity" />
        <activity android:name=".app.DesignPattern.Adapter.AdapterActivity" />
        <activity android:name=".app.DesignPattern.Decorator.DecoratorActivity" />
        <activity android:name=".app.DesignPattern.Flyweight.FlyweightActivity" />
        <activity android:name=".app.DesignPattern.Facade.FacadeActivity" />
        <activity android:name=".app.DesignPattern.Bridge.BridgeActivity" />
        <activity android:name=".app.DesignPattern.DesignPatternPrincipleActivity" />
        <activity android:name=".app.ui.CustomView.EditText.HintImgEditText.HintImgEditTextActivity" />
        <activity android:name=".app.ui.CustomView.CustomViewActivity" />
        <activity android:name=".app.network.NetworkActivity" />
        <activity android:name=".app.mobile.MobileActivity" />
        <activity android:name=".app.component.ComponentActivity" />
        <activity android:name=".app.ui.CustomView.EditText.FloatLableEditText.FloatLableEditTextActivity" />
        <activity android:name=".app.ui.CustomView.repeat.CardView.CardViewActivity" />
        <activity android:name=".app.ui.CustomView.repeat.CardView.CardViewDetailActivity" />
        <activity android:name=".app.ui.animate.SceneAnim.SceneAnimActivity" />
        <activity android:name=".app.ui.animate.SceneAnim.snow.SnowActivity" />
        <activity android:name=".app.ui.animate.TransitionAnim.Rotate3d.Rotate3dActivity" />
        <activity android:name=".app.component.AccessibilityService.AccessibilityServiceActivity" />

        <service
            android:name=".app.component.AccessibilityService.service.RobService"
            android:enabled="true"
            android:exported="true"
            android:label="robService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity android:name=".app.ui.CustomView.wave.WaveActivity" />
        <activity android:name=".app.ui.CustomView.magnifier.MagnifierActivity" />
        <activity android:name=".app.ui.CustomView.indicator.IndicatorActivity" />
        <activity android:name=".app.ui.animate.PathAnim.PathAnimActivity" />
        <activity android:name=".app.ui.CustomView.ExpandMenu.ExpandMenuActivity" />
        <activity android:name=".app.lib.LibActivity" />
        <activity android:name=".app.lib.EventBus.EventBusActivity" />
        <activity android:name=".app.lib.EventBus.EventBus2Activity" />
        <activity android:name=".app.lib.Glide.GlideActivity" />
        <activity android:name=".app.ui.CustomView.repeat.recyclerview.RecyclerViewGalleryActivity" />

        <service
            android:name=".app.component.Notification.service.ListenerNotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".app.component.broadcastreceiver.BroadcastActivity" />
        <activity android:name=".app.component.broadcastreceiver.phone.PhoneStateReceiverActivity" />

        <receiver
            android:name=".app.component.broadcastreceiver.phone.PhoneStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".app.mobile.share.ShareActivity" />
        <activity android:name=".app.lib.Router.RouterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="lboxapp" android:host="lbox.app" android:pathPrefix="/open"/>
            </intent-filter>
        </activity>
    </application>

</manifest>